@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Outfit:wght@300;500&display=swap');

body {
    margin: 0px;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: 'Neonderthaw', cursive;
    font-family: 'Outfit', sans-serif;
    font-size: 50pt;

    text-align: center;

    user-select: none;
}
